$standardSpacing: 10px;

#control-section {
  border: 1px solid red; 

  .section-container {
    
    padding: $standardSpacing $standardSpacing;    
    // margin: 0px;
    
  }
  

  .btn {
    height: 100%;
  }

  .btn-container {
    padding: 1px;
    // margin: 0; 
  }
}
