// import bootstrap
// @import "~bootstrap/scss/bootstrap";

$primary: black;
$standardSpacing: 10px;

body {
  background-color: rgb(29, 29, 29);
  // padding: 5%;
  font-family: sans-serif;
  text-align: center;
  color: white; 
  
}

h1 {
  padding-top: 10px;
}

section {
  border: 1px solid grey;
  margin: $standardSpacing $standardSpacing;
  padding: $standardSpacing $standardSpacing !important; 
  border-radius: 3px; 
}  

.display-none {
  display: none;
}

.btn {
  background-color: black;
  border: none;
  outline: none;
  width: 100%;
  
}

.btn:focus,
.btn:active {
  background-color: black;
  border: none;
  outline: none;

}

// for development
.col,
.row,
.container {
  border: 0px solid red;
  // padding: 0px 0px;
}


 