// import bootstrap
// @import "~bootstrap/scss/bootstrap";

$primary: black;
$standardSpacing: 10px;

body {
  background-color: rgb(29, 29, 29);
  // padding: 5%;
  font-family: sans-serif;
  text-align: center;
  color: white; 
  font-family: 'Roboto', sans-serif;

  
  
}

h1 {
  padding-top: 10px;
}

section {
  border: 1px solid grey;
  margin: $standardSpacing $standardSpacing;
  padding: $standardSpacing $standardSpacing !important; 
  border-radius: 3px; 
  // min-height: 300px;
}  


.control-container {
  margin: $standardSpacing 0px !important;
  margin: 0;
  padding: 0;
}

.control-label {
  // font-weight: 900; 
  position: relative;
  padding: $standardSpacing 0;
  text-align: center;
  display: block;
  width: 100%;
  margin-bottom: $standardSpacing*2;
  font-size: 1.5em;

  span {
    // border: 1px solid red;
    display: block;
    position: relative;

    
  }
  
  &:after {
    content: '';
    position: absolute; 
    left: 50%; 
    transform: translateX(-50%);
    bottom: 0;
    
    height: 1px;
    background-color: grey;
    width: 90%;
    transition: width .25s;
  }
  
  
}

.display-none {
  display: none;
}

.btn { 
  // background-color: black;
  // border: none;
  outline: none;
  width: 100%;
  height: 100%; 
  
}

.btn:focus,
.btn:active {
  // background-color: black;
  // border: none;
  outline: none;
  box-shadow: none;

}

// for development
.col,
.row,
.container {
  // border: 0px solid red;
  // padding: 0px 0px;
}

* {
  // border: 1px solid green;
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s linear; 
  -moz-transition: all 0.3s;
  transition: all 0.3s;
}
 